<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script type="text/javascript" src="app.js"></script>

  </head>

  <body class="container" ng-app='myApp'>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Improvements</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home"><i class="fa fa-home"></i> Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Models
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="#">CI</a></li>
                  <li><a ui-sref="#">SAFe</a></li>
                  <li><a ui-sref="#">Source Code Review</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Stripjoints
                  <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="list-group-item" ng-repeat="model in models">
                  </li>
                </ul>
            </li>
            <li><a ui-sref="teams"> Teams</a></li>
            <li><a ui-sref="users"> User Administration</a></li>
            <li><a ui-sref="assess"> Assessment</a></li>
          </ul>

        </div>
      </nav>
    </header>

    <div class="container">
      <div ui-view>
        <h1>Sample Content</h1>
      </div>
    </div>
    <script>

    </script>
  </div>
  </body>
</html>
